.wide { 
    width: 100%;
}
.half-wide { 
    width: 50%;
}

.tall {
    height: 100%;
}

.no-scroll {
    overflow: hidden
}

html,body {
  height:100%;
  margin:0;
}

.half-view-height {
    height: 50vh;
}

.center {
    text-align: center;
}

.bottom-right-fab {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}

#flash_msg_container {
    position: absolute;
    display: block;
    right: 0px;
    top: 10px;
    margin: 40px;
    z-index: 900;
}

.mdl-chip.flash-warning {
    background-color: #FF9800;
}

.mdl-chip.flash-error {
    background-color: #f44336;
}

.mdl-chip.flash-success {
    background-color: #4CAF50;
}

.bold {
  font-weight: bold;
}

.overlay {
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.background-div {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
