{% extends "base.jinja2" %} {% block content %}
{% set order_status = po.get_order_status_name() %}
{% set user_organizationId = current_user.organization.id %}
{% set selling_organizationId = po.selling_organization.id %}
{% set buying_organizationId = po.buying_organization.id %}
{% set is_pay_requestable = not (order_status == "Submitted" or order_status == "Declined") %}
{% set is_acceptable = order_status == "Submitted" %}
{% set is_editable = order_status == "Submitted" %}
{% set user_is_buyer = user_organizationId == buying_organizationId %}
{% set user_is_seller = user_organizationId == selling_organizationId %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col center">
        <h3>{{po.title}}</h3>
    </div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col center">
        <table class="mdl-data-table mdl-js-data-table wide">
            <tbody>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>Details</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.order_details or '--' }}</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>Created</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.timestamp }}</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>Created by</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.author.username }} | {{ po.author.email }}</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>Buyer</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.buying_organization.name}}</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>Seller</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.selling_organization.name}}</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>Order Status</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.get_order_status_name() or '--' }}</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>Payment Status</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.get_payment_status_name() or '--' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="map-container" class="mdl-cell mdl-cell--8-col center half-view-height"></div>
</div>


<!-- fab container --> 
<div class="bottom-right-fab">
    <!-- accept order button -->
    {% if is_acceptable and user_is_seller  %}
        <a type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="{{url_for('purchase_order.accept', po_id=po.id)}}">
        <i class="material-icons">done</i>
        </a>
    {% endif %}

    <!-- edit / delete order buttons --> 
    {% if is_editable and user_is_buyer %}
        <button id="edit-fab" type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">edit</i>
        </button>

        <button id="delete-fab" type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">delete</i>
        </button>
    {% endif %}

    <!-- request payment button --> 
    {% if is_pay_requestable and user_is_seller  %}
        <button id="request-payment-fab" type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">attach_money</i>
        </button>
    {% endif %}
</div>

<!-- import necessary dialogs --> 
{% if is_editable and user_is_buyer %}
    {% include 'po_details/edit_dialog.jinja2' %}
    {% include 'po_details/delete_dialog.jinja2' %}
{% endif %}
{% if is_pay_requestable and user_is_seller %}
    {% include 'po_details/request_payment_dialog.jinja2' %}
{% endif %}


<!-- page logic --> 
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script defer src="{{url_for('static', filename='js/po_details.js')}}"></script>

{% endblock %}