<!-- request payment dialog --> 
<dialog id="request_payment_dialog" class="mdl-dialog half-wide">
    <h4 class="mdl-dialog__title">Request Payment</h4>
    <div class="mdl-dialog__content center">
        <h3> Confirm request for payment? </h3>
        <br><br><br>
        <a type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored half-wide" href="{{url_for('purchase_order.request_payment', po_id=po.id)}}">Request Payment</a>
        <br><br>
        <button type="button" id="request_payment_dialog_close" class="mdl-button mdl-button--raised close half-wide">Cancel</button>
    </div>
</dialog>

<!-- request payment logic --> 
<script>
(function() {
    var dialog = document.querySelector('#request_payment_dialog');
    var fab = document.querySelector('#request-payment-fab');

    if (!dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
    }

    // wire click listeners to each button if it exists
    fab.addEventListener('click', function () {
        dialog.showModal();
    });

    dialog.querySelector('#request_payment_dialog_close').addEventListener('click', function () {
        dialog.close();
    });
})();
</script>