{% extends "base.jinja2" %} {% block content %}
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col">
        <h3>Sign In</h3>
        <form action="" method="post" novalidate id="loginForm">
            {{ form.hidden_tag() }}

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                 {{ form.username(size=32, class_='mdl-textfield__input') }}
                <label class="mdl-textfield__label" for="sample3">{{ form.username.label }}</label>
            </div>
            {% for error in form.username.errors %}
            <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
            <br><br>
            
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{ form.password(size=32, class_='mdl-textfield__input') }}
                <label class="mdl-textfield__label" for="sample3">{{ form.password.label }}</label>
            </div>
            {% for error in form.password.errors %}
            <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <br><br><br>

            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect align-right">
                {{ form.remember_me(class_='mdl-checkbox__input') }} 
                {{ form.remember_me.label }}
            </label>

            <br><br><br>
            
            {{ form.submit(class_='mdl-button mdl-js-button mdl-button--raised mdl-button--colored') }}
        </form>

        {% with messages = get_flashed_messages() %} 
        {% if messages %}
        <ul>
            {% for message in messages %}
            <span style="color: red;">[{{ message }}]</span>
            <br>
            {% endfor %}
        </ul>
        {% endif %} 
        {% endwith %}   
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
{% endblock %}