{% extends "base.jinja2" %} {% block content %}
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col">
        <h2>Organizations</h2>
        <br><br><br>
        {% for org in organizations %}
            <p><strong>{{ org.name }}</strong><p>
            <p>{{ org.address }}</p>
            <br><br>
        {% endfor %}
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
{% endblock %}