{% extends "base.jinja2" %} {% block content %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col center">
        <h3>{{po.title}}</h3>
    </div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col center">
        <table class="mdl-data-table mdl-js-data-table wide">
            <tbody>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>Details</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.order_details or '--' }}</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>Created</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.timestamp }}</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>Created by</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.author.username }} | {{ po.author.email }}</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>Buyer</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.buying_organization.name}}</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>Seller</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.selling_organization.name}}</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>Order Status</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.get_order_status_name() or '--' }}</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>Payment Status</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.get_payment_status_name() or '--' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mdl-cell mdl-cell--9-col center map-container"></div>
</div>


<!-- fab container --> 
<div class="bottom-right-fab">
    <!-- accept order button --> 
    <a type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="{{url_for('purchase_order.accept', po_id=po.id)}}">
    <i class="material-icons">done</i>
    </a>

    <!-- edit order button --> 
    <button id="show-dialog" type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">edit</i>
    </button>
</div>


<!-- edit order form --> 
<dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">New User</h4>
    <form action="" method="post" novalidate id="userForm">

        <div class="mdl-dialog__content">
            <button type="button" class="mdl-button mdl-button--raised close wide">Cancel</button>
        </div>
    </form>
</dialog>

<!-- page logic --> 
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script defer src="{{url_for('static', filename='js/po_details.js')}}"></script>

{% endblock %}