{% extends "base.jinja2" %} {% block content %}

<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col">
        <h3>{{po.title}}</h3>
        <ul class="demo-list-item mdl-list">
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                <strong>Details:</strong> {{ po.order_details}}
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                <strong>Created:</strong> {{ po.timestamp }}
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                <strong>Created by:</strong> {{ po.author.username }} | {{ po.author.email }} 
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                <strong>Buyer:</strong> {{ po.buying_organization.name }}
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                <strong>Seller:</strong> {{ po.selling_organization.name }}
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                <strong>Order Status:</strong> {{ po.get_order_status_name() or '--' }}
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                <strong>Payment Status:</strong> {{ po.get_payment_status_name() or '--' }}
                </span>
            </li>
        </ul>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>


<!-- fab container --> 
<div class="bottom-right-fab">
    <!-- accept order button --> 
    <a type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="{{url_for('purchase_order.accept', po_id=po.id)}}">
    <i class="material-icons">done</i>
    </a>

    <!-- edit order button --> 
    <button id="show-dialog" type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">edit</i>
    </button>
</div>


<!-- edit order form --> 
<dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">New User</h4>
    <form action="" method="post" novalidate id="userForm">

        <div class="mdl-dialog__content">
            <button type="button" class="mdl-button mdl-button--raised close wide">Cancel</button>
        </div>
    </form>
</dialog>

<!-- page logic --> 
<script defer src="{{url_for('static', filename='js/purchase_order.js')}}"></script>

{% endblock %}