{% extends "base.jinja2" %} {% block content %}

<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--10-col">
        <h2>Purchase Orders</h2>
        <br><br><br>

        <!-- table of purchase orders -->         
        <table class="mdl-data-table mdl-js-data-table wide">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Title</th>
                    <th class="mdl-data-table__cell--non-numeric">Date</th>
                    <th class="mdl-data-table__cell--non-numeric">Details</th>
                    <th class="mdl-data-table__cell--non-numeric">Author</th>
                    <th class="mdl-data-table__cell--non-numeric">Buyer</th>
                    <th class="mdl-data-table__cell--non-numeric">Seller</th>
                    <th class="mdl-data-table__cell--non-numeric">Order Status</th>
                    <th class="mdl-data-table__cell--non-numeric">Payment Status</th>
                </tr>
            </thead>
            <tbody>
                {% for po in POs %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.title }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.timestamp }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.order_details}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.author.username }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.buying_organization.name }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.selling_organization.name }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.get_order_status_name() or '--' }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ po.get_payment_status_name() or '--' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>


<!-- add order button --> 
<button id="show-dialog" type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bottom-right-fab">
  <i class="material-icons">add</i>
</button>

<!-- new order form --> 
<dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">New User</h4>
    <form action="" method="post" novalidate id="userForm">
        {{ form.hidden_tag() }}

        <div class="mdl-dialog__content">
            <!-- title -->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label wide">
                {{ form.title(size=64, class_='mdl-textfield__input') }}
                <label class="mdl-textfield__label" for="sample3">{{ form.title.label }}</label>
            </div>
            {% for error in form.title.errors %}
            <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <br>
            <br>

            <!-- order details -->
            <div class="mdl-textfield mdl-js-textfield wide">
                {{ form.order_details(size=64, class_='mdl-textfield__input') }}
                <label class="mdl-textfield__label">{{ form.order_details.label }}</label>
            </div>
            {% for error in form.order_details.errors %}
            <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
            <br>
            <br>

            <!-- vendor -->
            <div class="mdl-textfield mdl-js-textfield getmdl-select wide">
                {{ form.selling_organization(class_='mdl-textfield__input') }}
                <label class="mdl-textfield__label">{{ form.selling_organization.label }}</label>
            </div>
            {% for error in form.selling_organization.errors %}
            <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <br>
            <br>

            {{ form.submit(class_='mdl-button mdl-js-button mdl-button--raised mdl-button--colored wide') }}
            <br>
            <br>
            <button type="button" class="mdl-button mdl-button--raised close wide">Cancel</button>
        </div>
    </form>
</dialog>

<!-- page logic --> 
<script defer src="{{url_for('static', filename='js/purchase_order.js')}}"></script>

{% endblock %}